

.site-content{

  display: flex;
  flex-direction: row;
  min-height: 100vh;

  header{

  }

  .nav-left{



  }

  .content-main{

    flex: 1;
    display: flex;
    flex-direction: row;

    .content-middle{

      flex: 1;
      display: flex;
      flex-direction: column;

      .page-content{
        flex: 1;
        padding: @default-padding;

      }

    }

  }


}


footer{

  text-align: right;
  padding: 10px;
  background: @dark-grey;

  a, a:hover, a:active, a:visited{
    color: white;
  }

}