
.site-content{

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content-main{
    flex: 1;

    .page-content{
      padding: @default-padding;
      margin-bottom: @default-margin;
    }

  }


}

footer{

  text-align: right;
  padding: 10px;
  background: black;

  a, a:hover, a:active, a:visited{
    color: white;
  }

}